.container
    .jumbotron
        h1 Pair
        p Welcome text

    .row
        .col-md-12
            div(ng-include="'/partials/panel-search'")
    .row
        .col-md-6
            div(ng-include="'/partials/panel-feed'")
        .col-md-6
            div(ng-include="'/partials/panel-profile'")