.container
    .row
        .col-md-12
            div(ng-include="'/partials/dashboard/panel-search'")
    .row
        .col-md-6
            div(ng-include="'/partials/dashboard/panel-feed'")
        .col-md-6
            div(ng-include="'/partials/dashboard/panel-profile'")