panel.panel-default
    .panel-heading Activity Feed
    .panel-body
        .row(ng-repeat="item in activityFeedItems | orderBy")
            .col-lg-9 {{item.text}}
            .col-lg-3 {{item.published | date:'MMM d'}}