panel.panel-primary
    .panel-heading Search
    .panel-body
        .row
            form(role="form")
                .col-md-3
                .col-md-6
                    .form-group
                        label Keywords:
                        input.form-control(type="text", placeholder="keyword1, keyword2, etc...")

                    button.form-control.btn.btn-default Submit
                .col-md-3
