panel.panel-primary
    .panel-heading.text-center Search
    .panel-body
        .row
            form(role="form")
                .col-md-3
                .col-md-6
                    .form-group
                        label Keywords:
                        input.form-control(type="text", placeholder="keyword1, keyword2, etc...")
                    //.form-group
                    //    label Language:
                    //    select.form-control.input-sm
                    //        option(ng-repeat="lang in languages", value="{{ lang }}") {{ lang }}

                    button.form-control.btn.btn-default Submit
                .col-md-3
