panel.panel-default
    .panel-heading Profile
    .panel-body
        .well.well-sm
            .row
                .col-md-6 Name:
                .col-md-6 {{ displayName }}
            .row
                .col-md-6 Status:
                .col-md-6 {{ status }}
            .row
                .col-md-6 Points:
                .col-md-6 {{ points }}
            .row
                .col-md-6 Skills:
                .col-md-6
                    ul
                        li(ng-repeat="skill in skills") {{ skill }}