panel.panel-default
    .panel-heading Requests
    .panel-body
        .well(ng-show="!hasRequests()") You do not have any requests yet.
        table.table.table-hover.table-striped.table-condensed.table-sm(ng-show="hasRequests()")
            tbody.table-body-sm
                tr(ng-repeat="request in requests")
                    td
                        a(href="/requests/{{ request._id }}")
                            img.profile-img-icon.img-responsive.img(ng-src="{{ request.otherUser.avatarUrl }}", alt="Profile picture icon")
                            | {{request.otherUser.displayName}}
                    td {{request.direction}}
                    td {{request.sentDateTime | date:'MMM d'}}