.time-list
    form(ng-show="isEditMode()")
        input.input-sm(type="text", ng-model="time")
        button.btn.btn-sm.btn-default.margin-left-sm(ng-click="addTime()" ng-disabled="!canAddToTimeList()") Add time
    .well(ng-hide="hasTimes()")
        | Add up to {{ maxTimeListItems }} suggested dates/times
    ul.list-unstyled.time-list.icon-time
        li(ng-repeat="time in timeList")
            span {{ time.text }}
            span(ng-show="isEditMode()" ng-click="removeTime(time)").pull-right.glyphicon.glyphicon-remove
            span(ng-hide="isEditMode()" ng-click="acceptTime(time)").pull-right.glyphicon.glyphicon-ok