body
  padding-top 70px

footer
  padding-left 15px
  padding-right 15px
  p
    border-top 1px solid #d7e0e2

.navbar-form
  .form-group
    margin-left 10px
  button
    margin-left 10px

.pair-request-form
  margin-bottom 20px
  .form-group
    margin-top 20px

.top-padding-med
  padding-top 10px

.margin-left-med
  margin-left 10px

.toast-top-right
  top 70px

.toast-success
  background-color #73a839
  border-color #73a839

.profile-img
  width 100px

.profile-img-icon
  width 25px
  float left
  margin-top -3px

a span.glyphicon
  padding 3px

.glyphicon-lg
  font-size 18px
  line-height 1.33

.row.request
    padding 3px 0
  img
    padding-right 5px

/* Fixed Header table */

.header-fixed
  width: 100%

.header-fixed > thead
.header-fixed > tbody
.header-fixed > thead > tr
.header-fixed > tbody > tr
.header-fixed > thead > tr > th
.header-fixed > tbody > tr > td
  display: block

.header-fixed > tbody > tr:after
.header-fixed > thead > tr:after
  content ' '
  display block
  visibility hidden
  clear both

.header-fixed > tbody
  overflow-y auto

.header-fixed > tbody > tr > td
.header-fixed > thead > tr > th
  width 25%
  float left

.header-fixed > tbody > tr > td
  height 40px
  overflow-y auto

.table-body-sm
  height: 200px

.table-body-lg
  height: 0.8vh
