extends ../includes/layout

block main-content
    .navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href="/") Pair
            .navbar-collapse.collapse(id="pair-navbar")
                ul.nav.navbar-nav.list-inline
                    li(ng-show="identity.isAuthenticated()")
                        a.glyphicon.glyphicon-th(href="/dashboard")  Dashboard
                    li(ng-show="identity.isAuthenticated()")
                        a.glyphicon.glyphicon-eye-open(href="/users")  Browse
                    li(ng-show="identity.isAuthenticated()")
                        a.glyphicon.glyphicon-transfer(href="/requests")  Requests
                div(ng-include="'/partials/account/navbar-login'")

    section.content
        div(ng-view)

    footer.container.text-center
        p &copy; 2014 ??? Ltd - v!{version}
