.navbar-right(ng-controller="mvNavbarLoginCtrl")
    form.navbar-form(ng-hide="identity.isAuthenticated()")
        .form-group
            input.form-control.input-sm(placeholder="Email", ng-model="username")
        .form-group
            input.form-control.input-sm(type="password", placeholder="Password", ng-model="password")
        button.btn.btn-primary(ng-click="signin(username, password)") Sign In