.navbar-right(ng-controller="mvNavbarLoginCtrl")
    form.navbar-form(ng-hide="identity.isAuthenticated()")
        .form-group
            input.form-control.input-sm(placeholder="Email", ng-model="username")
        .form-group
            input.form-control.input-sm(type="password", placeholder="Password", ng-model="password")
        button.btn.btn-primary(ng-click="signin(username, password)") Sign In
        | &nbsp;
        a.btn.btn-success(href="/signup") Sign Up
    ul.nav.navbar-nav.navbar-right(ng-show="identity.isAuthenticated()")
        li.dropdown
            a.dropdown-toggle(href="", data-toggle="dropdown")
                | {{ identity.currentUser.firstName + " " + identity.currentUser.lastName }}
                b.caret
            ul.dropdown-menu
                li(ng-show="identity.currentUser.isAdmin()")
                    a(href="/admin/users") User Admin
                li
                    a(href="/profile") Profile
                li
                    a(href="", ng-click="signout()") Sign Out
