doctype
html
    head
        title Pair
        link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
        link(href="/vendor/bootstrap/dist/css/bootstrap.css", rel="stylesheet")
        link(href="/vendor/toastr/toastr.css", rel="stylesheet")
        link(href="/css/site.css", rel="stylesheet")
    body(ng-app='app')
        block main-content
        include scripts