doctype
html
    head
        title Pair
        link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
        link(href="/vendor/bootstrap/dist/css/bootstrap.css", rel="stylesheet")
        link(href="/vendor/bootstrap-tags/dist/css/bootstrap-tags.css", rel="stylesheet")
        link(href="/vendor/toastr/toastr.css", rel="stylesheet")
        link(href="/css/site.css", rel="stylesheet")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
    body(ng-app='app')
        include currentUser
        block main-content
        include scripts