.container
    .jumbotron
        h1 Pair
        p Connecting developers

    .row
        .col-md-12
            div(ng-include="'/partials/main/panel-search'")
    .row
        .col-md-6
            div(ng-include="'/partials/main/panel-feed'")
        .col-md-6
            div(ng-include="'/partials/main/panel-profile'")